/* General */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

strong {
    font-weight: 800;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #2F3E55;
    color: #F4F5F0;
    padding: 135px 0 20px 0;
}

/* TODO: adjust at each breakpoint */
header > .content > .title, .subtitle {
    width: 80%;
}

header > .content > .title {
    font-size: xx-large;
    padding-bottom: 20px;
    font-weight: 700;
}

header > .content > .subtitle {
    font-size: x-large;
    font-weight: 300;
}

/* Nav bar */

#nav {
    position: absolute;
    top: 0px;
    right: 0px;
}

#nav a {
    text-decoration: none;
    color: #F4F5F0;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

#nav li {
    display: inline;
    width: 60px;
    padding: 20px;
}

/* Nav bar drop down support */

ul#nav ul {
    display:none;
    float: right;
    position:absolute;
    top:100%;
    right:0;
    background:#2F3E55;
}

ul#nav li:hover > ul {
    display: block;
}

ul#nav ul li {
    position:relative;
    display: block;
    padding: 10px;
    width: 200px;
    text-align: right;
}

ul#nav ul a
{
    line-height:120%;
    padding:10px 15px
}

ul#nav ul ul
{
    top:0;
    left:100%
}

/* Content */

.content {
    max-width: 1215px;
    margin: 0 auto;
}

.page_content {
    float: left;
    width: 75%;
}

/* Includes */

.youtube_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar */

.sidebar {
    float: right;
    width: 25%;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.avatar img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* Footer */

footer {
    clear: both;
    text-align: center;
}

#logos {
    padding: 60px 0;
}

#logos a {
    padding: 0 60px;
}