/* General */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2B2C30;
}

strong {
    font-weight: 800;
}

.container {
    width: 100%;
    margin: 30px 0 0 0;
}

/* Header */

header {
    background-color: #2F3E55;
    color: #F4F5F0;
    padding: 135px 0 20px 0;
}

/* TODO: adjust at each breakpoint */
header > .content > .title, .subtitle {
    width: 80%;
}

header > .content > .title {
    font-size: xx-large;
    padding-bottom: 20px;
    font-weight: 700;
}

header > .content > .subtitle {
    font-size: x-large;
    padding-bottom: 20px;
    font-weight: 300;
}

.subheader {
    background-color: #98A0A5;
    color: white;
    font-size: large;
    padding: 20px 0;
}

/* Nav bar */

#nav {
    position: absolute;
    top: 0px;
    right: 0px;
}

#nav a {
    text-decoration: none;
    color: #F4F5F0;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

#nav li {
    display: inline;
    width: 60px;
    padding: 20px;
}

#nav li.selected {
    font-weight: 800;
}

/* Content */

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

.page_content {
    float: left;
    width: 71%;
    line-height: 28px;
}

.page_content img {
    max-width: 100%;
    height: auto;
}

.post_title {
    text-decoration: none;
    color: #2B2C30;
}

article img {
	max-width: 100%;
}

/* Includes */

.youtube_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.youtube_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar */

.sidebar {
    float: right;
    width: 25%;
}

.sidebar > .contact_button {
    margin-top: 40px;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.avatar img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* Footer */

footer {
    clear: both;
    text-align: center;
}

footer > .contact_button {
    margin-bottom: 60px
}

.logos {
    padding: 60px 0;
}

.logos a {
    padding: 0 60px;
}

.end_matter {
    font-size: small;
    margin-bottom: 30px;
}

/* Buttons */

.contact_button {
    display: block;
    width: 240px;
    background-color: #A5BCBB;
    color: #2B2C30;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-decoration: none;
    font-weight: 800;
}
