<header>
    <ul id="nav">
        {% if page.group == 'about' %}
        <li class="selected"><a href="/">About</a></li>
        {% else %}
        <li><a href="/">About</a></li>
        {% endif %}

        {% if page.group == 'work' %}
        <li class="selected"><a href="/work">Work</a></li>
        {% else %}
        <li><a href="/work">Work</a></li>
        {% endif %}
        <li><a href="https://docs.google.com/document/d/1ahlylYrpsFdsRMwMQP3KiTlGReKeXN7K1y7JZMNEmu4" target="_blank">Resume</a></li>
    </ul>

    <div class="content">
        <div class="title">
            {% if page.header_title %}{{ page.header_title }} {% else %} {{ page.title }} {% endif %}
        </div>

        <div class="subtitle">
            {% if page.header_subtitle %}{{ page.header_subtitle }} {% else %} {{ page.blurb }} {% endif %}
        </div>
    </div>
</header>