<head>

    <!-- Meta info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <title>{% if page.title %}{{ page.title }} -- {% endif %}{{ site.title }}</title>

    {% if site.enforce_ssl %}
      <!--
        redirect users to the https version of the website.
        but: only check when on the production domain, as set in _config.yml.
       -->
      <script type="text/javascript">
        var enforce = "{{ site.enforce_ssl }}";
        if ((enforce == window.location.host) && (window.location.protocol != "https:"))
          window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
    {% endif %}

    <!-- Polymer -->
    <link rel="import" href="{{ "/assets/components/font-roboto/roboto.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/assets/components/core-scroll-header-panel/core-scroll-header-panel.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/assets/components/core-toolbar/core-toolbar.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/assets/components/paper-tabs/paper-tabs.html" | prepend: site.baseurl }}">
    <link rel="import" href="{{ "/assets/components/paper-fab/paper-fab.html" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

</head>
