<core-toolbar class="tall">

    <div class="content">{{ site.title }}</div>

    <paper-tabs class="bottom" valueattr="name" selected="home" self-end>
        <paper-tab name="home">Home</paper-tab>
        <paper-tab name="about">About</paper-tab>
        <paper-tab name="skills">Skills</paper-tab>
        <paper-tab name="experience">Experience</paper-tab>
        <paper-tab name="portfolio">Portfolio</paper-tab>
        <paper-tab name="contact">Contact</paper-tab>
    </paper-tabs>

</core-toolbar>
