<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    <div class="container">

        {% include header.html %}

        <div class="content">

            {% if page.has_sidebar == true %}

            <div class="page_content">
                {{ content }}
            </div>

            {% include sidebar.html %}
            {% else %}
            {{ content }}
            {% endif %}

        </div>

        {% include footer.html %}

    </div>

    {% include foot.html %}

</body>

</html>